<header class="header-shopping default">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-2">
                <div class="header-shopping-logo default">
                    <a href="#">
                        <img src="assets/img/logo.png" alt=""
                            style="max-height: 40px; max-height: 40px; min-width: 40;min-height: 40px;">
                    </a>
                </div>
            </div>
            <div class="col-12 text-center">
                <ul class="checkout-steps">
                    <li>
                        <script>
                            console.log("<%= p1 %>");
                        </script>
                        <a href="" class="<%= p1 %>">
                            <span>اطلاعات رزرو</span>
                        </a>
                    </li>
                    <li class="<%= p2 %>">
                        <a href="" class="<%= p2 %>">
                            <span>پرداخت</span>
                        </a>
                    </li>
                    <li class="<%= p3 %>">
                        <a href="" class="<%= p3 %>">
                            <span>تایید نهایی</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>