<!DOCTYPE html>
<html dir="rtl" class="fa-events-icons-ready" lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <base id="base">
  <script src="/assets/js/config.js"></script>
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title></title>

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css" integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6" crossorigin="anonymous">
  <link href="assets/panelassests/dashboard.rtl.css" rel="stylesheet">
  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/panelassests/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.1.3/js/bootstrap.min.js" integrity="sha384-C/pvytx0t5v9BEbkMlBAGSPnI1TQU1IrTJ6DJbC8GBHqdMnChcb6U4xg4uRkIQCV" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/6d68f18b97.js"></script>
  <link href="https://use.fontawesome.com/6d68f18b97.css" media="all" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css">
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg nav-dark">
    <a class="navbar-brand mr-2" style="color: white;"> دکتر تجویز</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars menu-icon"></i>
    </button>
  </nav>


  <div class="container-fluid">
    <div class="row">
      
      <%- include('navbar.ejs',{flag:4}); -%>


      
      <main role="main" class=" ml-sm-auto col-lg-9 col-xl-10 px-4" id="doctors-profile">
        <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">پروفایل دکتر</h1>
            <button class="btn btn-info" onclick="goBack()">بازگشت به صفحه قبل</button>

            <script>
            function goBack() {
              window.history.back();
            }
            </script>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-2 mb-5">
              <img class="img-fluid" src="<%= doctor.image %>" onerror="this.src='assets/img/altimage.png'">
            </div>
            <div class="col-sm-12 col-md-10">
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>نام</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><%= doctor.name %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>تخصص ها</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><% for( let j=0 ; j<doctor.categories.length; j++) { %>
                    <% if(j==0) { %>
                      <%= doctor.categories[j] %>
                    <% } else { %>
                      <%= ", " + doctor.categories[j] %>
                    <% } %>
                  <% } %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>سابقه کار</h5>
                </div>  
                <div class="col-md-6 col-lg-6">
                  <p><%= doctor.background +" " %>سال </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>ادرس</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><%= doctor.address %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>شماره تماس</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><%= doctor.phonenumber %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>شماره مطب</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><%= doctor.workphone %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>نوع عضویت</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <% if(doctor.membershiptypes.includes("reserve")) { %>
                    <p>رزرو آنلاین</p>
                  <% } %>
                  <% if(doctor.membershiptypes.includes("teleconsultant")) { %>
                    <p>مشاوره تلفنی</p>
                  <% } %>
                  <% if(doctor.membershiptypes.includes("chatconsultant")) { %>
                    <p>گفتگو متنی</p>
                  <% } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>توضیحات شخصی</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p>
                    <%= doctor.description %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5>نام کاربری</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><%= doctor.username %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-2">
                  <h5> رمز عبور</h5>
                </div>
                <div class="col-md-6 col-lg-6">
                  <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-info">ریست کردن رمز عبور</a>
                </div>
              </div>
               <!-- modal -->
               <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle" style="position: relative; right: 30px;">دکتر تجویز</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="resetdocpass" method="POST">
                        رمز جدید
                        <input class="form-control" type="text" name="newpass">
                        <input class="form-control" type="text" style="display: none;" name="docname" value="<%= doctor.name %>" >
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                      <button type="submit" class="btn btn-danger">تایید</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--modal-->
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>
  



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/panelassests/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.1.3/js/bootstrap.min.js" integrity="sha384-C/pvytx0t5v9BEbkMlBAGSPnI1TQU1IrTJ6DJbC8GBHqdMnChcb6U4xg4uRkIQCV" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
  <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>

</body>
</html>