<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <base id="base">
    <script src="/assets/js/config.js"></script>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/logo.png">
    <link rel="icon" type="image/png" href="assets/img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <title>دکتر تجویز</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/now-ui-kit.css" rel="stylesheet" />
    <link href="assets/css/plugins/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/plugins/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/index.css" rel="stylesheet" />
    <style>
        /* @media screen and (max-width:1920px) {
            #searchinput {
                visibility: hidden;
            }
        } */

        @media screen and (max-width : 800px) {
            #searchinput {
                max-width: 100%;
            }
        }
    </style>
</head>

<body class="index-page sidebar-collapse">

    <!-- header-responsive -->
    <%- include('header-responsive.ejs'); -%>
    <!-- header-responsive -->

    <div class="wrapper default">

        <!-- header -->
        <%- include('header.ejs'); -%>
        <!-- header -->

        <!-- main -->
        <main class="search-page default">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 order-2">
                        <div class="breadcrumb-section default">
                            <ul class="breadcrumb-list">
                                <% if(type=="category") { %>
                                <li>
                                    <a href="#">
                                        <span>نوبت دهی</span>
                                    </a>
                                </li>
                                <% } else {  %>
                                <li>
                                    <a href="#">
                                        <span>نوبت دهی</span>
                                    </a>
                                </li>
                                <li><a href="/category/<%= category%>?city=all"><%= category.split('-').join(' ') %></a>
                                </li>

                                <div>
                                    <select id="sel" onchange="javascript:handleSelect(this)">
                                        <option selected disabled>فیلتر بر اساس شهر</option>
                                        <option value="all">همه</option>
                                        <option value="ایلام">ایلام</option>
                                        <option value="کرمانشاه">کرمانشاه</option>
                                    </select>
                                    <script type="text/javascript">
                                        var str1 = window.location.href;
                                        var pattern = "city="
                                        var str2 = str1.substr(str1.indexOf(pattern) + pattern.length,
                                            str1.length);
                                        str2 = decodeURIComponent(str2);
                                        if (str2 !== "all") {
                                            document.getElementById('sel').value = str2;
                                        }

                                    </script>
                                    <script type="text/javascript">
                                        function handleSelect(elm) {
                                            window.location = window.location.href.split('?')[0] + "?city=" + elm.value;
                                        }
                                    </script>
                                </div>
                                <% } %>
                            </ul>
                        </div>
                        <% if(type=="doc") { %>
                        <p id="select-category">لطفا دکتر خود را از لیست زیر انتخاب کنید</p>
                        <% } else{ %>
                        <div class="row">
                            <div class="col-12">
                                <p id="select-category">لطفا تخصص مورد نیاز خود را از لیست زیر انتخاب کنید</p>
                                <input oninput="fastsearch()" class="form-control" type="text"  name="searchinput" id="searchinput" style="margin-bottom: 16px; max-width: 30%;border-width: 2px;border-color: black;background-color: white;" placeholder="جستجوی تخصص">
                            </div>
                            <div class="col">
                               
                                
                            </div>
                            
                        </div>
                        <% } %>
                        <div class="listing default">
                            <div class="tab-content default text-center">
                                <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
                                    
                                    <div class="container">
                                        <ul id="uilist" class="row listing-items">
                                            <% if(Objects.length!=0) { %>
                                            <% for(let i =0 ;i < Objects.length ; i++) { %>
                                                <% if(category=="") { %>
                                            <li name="objects" data-name="<%= Objects[i].name %>" class="box hvr-grow-shadow">
                                               
                                                <a
                                                    href="<%= "category"+  category.split(' ').join('-') + "/" + Objects[i].name.split(' ').join('-') +"?city=all" %>">
                                                    <div style="border-width: 2px;
                                                    font-weight: 400;
                                                    font-size: 0.8571em;
                                                    line-height: 1.35em;
                                                    margin: 5px 1px;
                                                    border: none;
                                                    border-radius: 0.1875rem;
                                                    padding: 11px 22px;
                                                    cursor: pointer;
                                                    background-color:#FAFAFA;
                                                    max-width: 172px;
                                                    color: #FFFFFF;" style="border-radius: 20px;">
                                                        <div style="height:auto; width: auto;">
                                                            <img src="<%= Objects[i].image %>"
                                                                style="background: transparent; min-height: 128px;min-width: 128px; max-width: 128px; max-height: 128px;"
                                                                onerror="this.src='assets/img/altimage.png'"
                                                                alt="not found">
                                                        </div>
                            
                                                        <p class="card-text text-slate font-weight-bold text-14 mt-4"
                                                            style="color: #1e3e72;">
                                                            <%= Objects[i].name %>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                                <% } else {  %>
                                                    <li class="box hvr-grow-shadow">
                                                <a
                                                    href="<%= "category/"+ category.split(' ').join('-') + "/" + Objects[i].name.split(' ').join('-') %>">
                                                    <div style="border-width: 2px;
                                                    font-weight: 400;
                                                    font-size: 0.8571em;
                                                    line-height: 1.35em;
                                                    margin: 5px 1px;
                                                    border: none;
                                                    border-radius: 0.1875rem;
                                                    padding: 11px 22px;
                                                    cursor: pointer;
                                                    background-color:#FAFAFA;
                                                    max-width: 172px;
                                                    color: #FFFFFF;" style="border-radius: 20px;">
                                                        <div style="height:auto; width: auto;">
                                                            <img src="<%= Objects[i].image %>"
                                                                style="background: transparent; min-height: 128px;min-width: 128px; max-width: 128px; max-height: 128px;"
                                                                onerror="this.src='assets/img/altimage.png'"
                                                                alt="not found">
                                                        </div>
                                                        <%if(Objects[i].countofvotes==0&&Objects[i].rate==0) { }else{ %>
                                                        <span style="color: black;" class="points"><i class="fa fa-star" aria-hidden="true" style="color: #fb0;"></i> <%= Objects[i].rate %></span>
                                                        <% } %>
                                                        <p class="card-text text-slate font-weight-bold text-14 mt-4"
                                                            style="color: #1e3e72;">
                                                            <%= Objects[i].name %>
                                                        </p>
                                                    </div>
                                                </a>
                                               
                                            </li>
                                            <% } %>
                                            <% } %>
                                            <% } else { %>
                                                <div class="c-message-light c-message-light--info c-listing-not-found__message">
                                                    <div class="c-message-light__justify">
                                                        <p>
                                                            موردی جهت نمایش وجود ندارد.</p>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="most-view" role="tabpanel" aria-expanded="false">
                                    <div class="container">
                                        <ul class="row listing-items">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->

        <!-- footer -->
        <%- include('footer.ejs'); -%>
        <!-- footer -->

    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Share Library etc -->
<script src="assets/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js" type="text/javascript"></script>
<!--  CountDown -->
<script src="assets/js/plugins/countdown.min.js" type="text/javascript"></script>
<!--  Plugin for Sliders -->
<script src="assets/js/plugins/owl.carousel.min.js" type="text/javascript"></script>
<!--  Jquery easing -->
<script src="assets/js/plugins/jquery.easing.1.3.min.js" type="text/javascript"></script>
<!--  LocalSearch -->
<script src="assets/js/plugins/JsLocalSearch.js" type="text/javascript"></script>
<!-- Main Js -->
<script src="assets/js/main.js" type="text/javascript"></script>

<script>
    function fastsearch(){
        value=document.getElementById("searchinput").value;
        document.getElementsByName("objects").forEach(function(doc){
            if(!doc.dataset.name.includes(value)){
                doc.style.display="none"
            }
            else{
                doc.style.display=""
            }
        })
    }
</script>

</html>