<!DOCTYPE html>
<html dir="rtl" class="fa-events-icons-ready" style="width: fit-content;" lang="en"><head>
  <meta charset="utf-8">
  <base id="base">
  <script src="/assets/js/config.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>داشبورد - دکتر تجویز</title>
  <link rel="icon" href="favicon.ico">

  <title></title>
  
  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css" integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6" crossorigin="anonymous">
  <link href="assets/panelassests/dashboard.rtl.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/6d68f18b97.js"></script><link href="https://use.fontawesome.com/6d68f18b97.css" media="all" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet" />
  <style>
      .left {
  position: relative;
  background: #ffffff;
  text-align: right;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.left::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #ccc;
}

.left::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  left: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
  clear: both;
}
.right {
  position: relative;
  background: #ffffff;
  text-align: right;
  min-width: 45%;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.right::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #ccc;
}

.right::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
  clear: both;
}
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg nav-dark">
    <a class="navbar-brand mr-2" style="color: white;"> دکتر تجویز</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars menu-icon"></i>
    </button>
  </nav>


  <div class="container-fluid">
    <div class="row">
      
        <nav class="col-lg-3 col-xl-2 d-lg-block sidebar collapse" id="navbarTogglerDemo">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/UserPanel/profile">
                    <i class="fa fa-pencil-square"></i>
                    پروفایل
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/UserPanel/chats">
                    <i class="fa fa-commenting"></i>
                    گفتگوهای متنی
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/UserPanel/reservations">
                    <i class="fa fa-list-ul"></i>
                    نوبت های من
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UserPanel/telereservations">
                      <i class="fa fa-phone"></i>
                       مشاوره های تلفنی من
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/UserPanel/experiments">
                    <i class="fa fa-id-card"></i>
                     جواب آزمایش
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/exit">
                    <i class="fa fa-sign-out"></i>
                    خروج
                  </a>
                </li>
              </ul>
    
              </div>
          </nav>

      <main role="main" class=" ml-sm-auto col-lg-9 col-xl-10 px-4" id="dashboard">
        <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" style="right: 148px;
            position: relative;">گفتگو ها</h1>
            <a href="/UserPanel/chats" class="btn btn-info">بازگشت به صفحه قبل</a>
          </div>
          <div class='col'>
            <% for(let i = 0; i<chat.tickets.length;i++) { %>
            <% if (chat.tickets[i].sender=="doctor") { %>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3" style="float: left; clear: both; max-width: 50%;">
               <div class="card shadow left">
            <% } else { %>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3" style="float: right; clear: both; max-width: 50%;">
              <div class="card shadow right">
            <% } %>
              
                <div class="card-header bg-site-primary text-white p-2">
                    <%=chat.tickets[i].subject%>
                    <p><%= chat.tickets[i].datecreated %></p>
                </div>
                <div class="card-body">
                <div>
                    <a href="test23"><%=chat.tickets[i].text%></a>
                </div>
                <br/>
                <% if (chat.tickets[i].file!=null) { %>
                <div>
                    <a href="<%= "/Download?path=" + chat.tickets[i].file.path %>" class="btn btn-info">دریافت فایل </a>
                </div>
                <% } %>
                </div>
              </div>
            </div> 
            <% } %>
            <% if(chat.finished==false) { %>
            <form action="sendticketuser" method="POST" enctype="multipart/form-data" >
            <div  class="col-sm-12 col-md-6 col-lg-4 mb-3" style="float: right; clear: both; max-width: 50%;">
                <div class="card shadow">
                    <div class="card-header bg-site-primary text-white p-2" style="background-color:#25d366;">
                       ارسال پیام جدید
                    </div>
                    <div class="card-body">
                    <div>
                        <label for="subject">موضوع :</label>
                        <input name="subject" id="subject" type="text">
                        <textarea id="text" name="text" style="min-height: 100px;min-width: 430px;"></textarea>
                    </div>
                    <br/>
                    <div>
                        <input type="file" name="file" id="file" class="btn btn-info">
                        <input type="text" name="sender" id="sender" value="patient" style="visibility: hidden;">
                        <input type="text" name="chatid" id="chatid" value="<%= chat._id %>" style="visibility: hidden;">
                        <input type="text" name="uphone" id="uphone" value="<%= chat.userphone %>" style="visibility: hidden;">
                        <input type="text" name="dname" id="dname" value="<%= chat.doctor %>" style="visibility: hidden;">
                        <input type="text" name="from" id="from" value="<%= "/UserPanel/chats/" + chat._id %>" style="visibility: hidden;">
                        <button type="submit" class="btn btn-info" style="float: left;">ارسال</a>
                    </div>
                    </div>
                </div>
            </div>
            </form>
            <% } %>
          </div>
        </div>
      </main>

    </div>
  </div>
  


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/panelassests/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.1.3/js/bootstrap.min.js" integrity="sha384-C/pvytx0t5v9BEbkMlBAGSPnI1TQU1IrTJ6DJbC8GBHqdMnChcb6U4xg4uRkIQCV" crossorigin="anonymous"></script>

</body>

</html>